@font-face{
  font-family: Arial;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: grey;
}


.textarea{
  width: 500px;
  height: 150px;
}


.section1{
font-family: Arial;
width:100%;
min-height:100px;
padding-top: 30px;
  text-align: center;
  font-size: 3em;
background-image: url(https://moviewriternyu.files.wordpress.com/2014/01/fire-breathing-dragon.jpg);
background-position: bottom;
}

 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} 